/************************* DEBUG SETTINGS *************************/

:root {
   --bg-light: rgb(255, 238, 231);
   --text-dark: rgb(0, 0, 0);
   --font-main: 'bricolage grotesque', sans-serif;

   --h1-bg: rgb(255, 212, 193);
   --h1-text: rgb(0, 0, 0);
   --h2-text: rgb(128, 63, 92);
   --h2-bg: var(--h1-bg)
}

body{
     display:grid;
    grid-template-areas:
  "header nav"
  "main main"
  "footer footer";
 grid-template-columns: 3fr 1fr;
 grid-template-rows: 120px 1fr 60px;

 background-color: var(--bg-light);
 color: var(--text-dark);
 line-height: 1.7;
}

header{
    margin: 30px;
grid-area: header;
}

nav{
grid-area: nav;
border: 2px;
border-color: black;
border-style:groove; 
 margin: 20px;
}

.nav1{
   height:115px;
}
main{
    margin: 30px;
   Grid-area: main;
}

Footer{
grid-area: footer;
background-color: rgb(234, 158, 44);

}

h1 {
background-color: var(--h1-bg);
   font-family: var(--font-);
   color: var(--h1-text);
   padding: 6px;
   border-radius: 14px;
   text-align: center;
   font-size: 3.3rem;
}
h2{
   font-family: var(--font-main);
   color: var(--h2-text);
   font-size: 2.3rem;
   border-bottom: 2px;
   padding-bottom: 5px;
   margin-top: 30px;
}
h3{
   font-family: var(--font-main);
   font-size: 1rem;
   font-weight: 400;
}
h4{
   font-family: var(--font-main);
   font-size: 0.67rem;
}
p{
   font-family: var(--font-main);
   font-size: 1.2rem;
}
strong{
   color: rgb(24, 0, 0);
   font-weight:900;
}
img{
   float: right;
   border-radius: 14px;
}

.links { 
   float: left;
   width: 70%;
}

article {
   display: block;
   clear: both
}