/************************* DEBUG SETTINGS *************************/

:root {
   --bg-light: #EEEEFF;
   --text-dark: #010B14;
   --font-main: 'bricolage grotesque', sans-serif;

   --h1-bg: #99DFEA;
   --h1-text: #011627;
   --h2-text: #186A77;
   --h2-bg: var(--h1-bg)
}

body{
     display:grid;
    grid-template-areas:
  "header nav"
  "main main"
  "footer footer";
 grid-template-columns: 3fr 1fr;
 grid-template-rows: 120px 1fr 60px;

 background-color: var(--bg-light);
 color: var(--text-dark);
 line-height: 1.7;
}

header{
    margin: 30px;
    grid-area: header;
}

nav{
grid-area: nav;
border: 2px;
background-color: var(--h1-bg);
border-color: #67D0E0;
border-style:groove; 
 margin: 20px;
}

.nav1{

   height:115px;
}
main{
    margin: 30px;
   Grid-area: main;
}

Footer{
grid-area: footer;
background-color: var(--h1-bg);
align-items: center;
}

h1 {
background-color: var(--h1-bg);
   font-family: var(--font-main);
   color: var(--h1-text);
   padding: 6px;
   border-radius: 14px;
   text-align: center;
   font-size: 3.3rem;
   margin-bottom: 20px;
}
h2{
   font-family: var(--font-main);
   color: var(--h2-text);
   font-size: 2.3rem;
   border-bottom: 2px;
   padding-bottom: 5px;
   margin-top: 30px;
}
h3{
   font-family: var(--font-main);
   font-size: 1.45rem;
   font-weight: 400;
   color: var(--text-dark);
}
h4{
   font-family: var(--font-main);
   font-size: 0.67rem;
   color: var(--text-dark);
}
p{
   font-family: var(--font-main);
   font-size: 1.2rem;
   color: var(--text-dark);
}
strong{
   color: #000000;
   font-weight:900;
}
img{
   float: right;
   border-radius: 14px;
}

.links { 
   float: left;
   width: 70%;
}

article {
   display: block;
   clear: both
}
.rechts{
   float: right;
   margin-right: 30px;
}
.voeter{
   margin-left: 30px;
float: left;
}